:root {
	--main: #7d8dd4;
	--dark: #3f4b73;
	--light: #8797de;
	--behind: #181a21;
	--txt: white;
}

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	overflow:hidden;
	color: var(--txt);
	user-select:none;
}

body {
	background: var(--dark);
	color: white;
	font-family:monospace;
}

nav {
	background-color: var(--main);
	width:100%;
}

li {
	display:inline;
	float:left;
	width:12.5%;
	
}

a {
	text-align:center;
	display:block;
	font-family:monospace;
	color:white;
	background: var(--main);
	text-decoration:none;	
	padding: 3px;
	border-radius:5px;
	cursor:default;
}

button {
	padding: 5px;
	margin: 5px;
	width: 20vw;
	height:45px;
}

.click {
	background: var(--main);
	font-family:monospace;
	color:white;
	border: 2px solid var(--main);
	box-shadow: 0 0 2px var(--main);
	text-shadow: 0 0 2px var(--main);
	cursor:default;
}

.click:hover {
	border: 2px solid var(--light);
	background: var(--light);
}

.click:active {
	text-shadow: 0 0 6px var(--light);
	box-shadow: 0 0 6px var(--light);
}

a.invItems {
	width: 20vw;
	background:transparent;
	border: 2px solid transparent;
	padding: 4px;
	margin: auto;
	color: var(--text);
}
.invItems:hover {
	box-shadow: 0 0 4px var(--main);
}
.invItems:active {
	border: 2px inset var(--main);
	background:var(--main);
}

div a.selectedInvItem {
	border: 2px inset var(--main);
	background:var(--dark);
}
#text {
	user-select:text;
}
#inventory > * {
	padding:10px;
}
#inv {
	width:25%;
	padding:0;
	height:100%;
	float:left;
	text-align:center;
}
#invDesc {
	text-align:center;
}
#invProps {
	display:none;
}
#invEquip {
	display:block;
	width: 25%;
	text-align: left;
}
.inv {
	border: 1px solid var(--main);
	height: 100%;
	background-image: linear-gradient(to bottom, var(--dark), 5%, transparent);
	box-shadow: 0 0 10px 5px var(--dark);
	width:50%;	
	float:left;
}

.btnEquip {
	position:absolute;
	bottom:5px;
	display:none;
}

/* Specific */

.textSection {
	width: 75%;
	min-height: 25%;
	padding: 15px;
	margin:auto;
	border: 2px solid var(--main);
	border-bottom: 2px dashed var(--main);
	box-shadow: 0px 0 30px -2px var(--main);
	text-shadow: 0 0 1px var(--txt);
	text-align: center;
}

#screen {
	display: block;
	position:relative;
	margin: 10vh 5vw;
	width: 90vw;
	height: 65vh;
	border: 2px solid var(--main);
	box-shadow: 0 0 5px var(--main);
	background: var(--behind);
}

#actions {
	position:absolute;
	bottom:10px;
	left: 10px;
}

.menu {
	display:none;
	height:100%;
}

#formOptions {
	float:left;
	text-align:left;
}

.formSaving {
	width:10%;
	float: right;
}

#barCont {
	position:absolute;
	bottom:0;
	width:30%;
	margin: 5px;
}

.cont {
	border: 1px solid var(--main);
	margin:5px;
	margin-top: 1px;
	position:relative;
	height: 18px;
	background: var(--dark);
}

.bars {
	background: var(--main);
	margin: 1px;
	box-shadow:0 0 5px 5px var(--light);
	height: 100%;
	text-align:center;
}
#hpBar {
	width: 75%;
}
#enBar {
	width: 45%;
}

/** Notifications **/

#notifications {
	text-align:center;
	position:absolute;
	right:0;
	bottom:0;
	border: 2px solid var(--main);
	background: var(--behind);
	width: 35vw;
	height: 75px;
	display:none;
}
#nclose {
	position:absolute;
	font-size:15px;
	background:var(--behind);
	width:20px;
	height:20px;
	cursor:pointer;
}
#nicon{
	width:20%;
	height:100%;
	float:right;
	font-size:50px;
	border-right: 2px solid var(--main);
}
#ntxt {
	margin:10px;
	width:80%;
	height:100%;
	font-size: 18px;
}
.fadingIn {
	animation: fadeIn linear 1s;
}
.fadingOut {
	animation: fadeOut linear 1s;
}
@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadeOut {
	0% {opacity:1;}
	100% {opacity:0;}
}